body {
  text-align: center;
  background-color: #239ceb;
  /* background-color: #282c34; React default color*/
  margin: 0;
  font-family: 'Ubuntu';
  /* user-select: none; */
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
}

.appWrapper {
  color: white;
  font-size: 30px;
}